name: CI-CD

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:

  analyze:
    name: Analyze
    runs-on: ubuntu-latest

    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false
      matrix:
        language: ['java']

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: ${{ matrix.language }}

      - name: Build project
        run: mvn -B clean install

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3

  build-and-deploy:
    name: Build & Deploy
    runs-on: ubuntu-latest
    needs: analyze   # evita deploy si falla CodeQL

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/umacb08-gif/reto-tecnico:${{ github.sha }}
          file: ./Dockerfile

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
        
      - name: Deploy private GHCR image to Container App
        uses: azure/container-apps-deploy-action@v1
        with:
          containerAppName: app-reto-tecnico
          resourceGroup: rg-reto-tecnico
          imageToDeploy: ghcr.io/umacb08-gif/reto-tecnico:${{ github.sha }}
          registryServer: ghcr.io
          registryUsername: ${{ github.actor }}
          registryPassword: ${{ secrets.GHCR_PAT }}
